@using bYteMe.Models
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin
@model System.Data.Entity.DbSet<bYteMe.Order>
@{
    ViewBag.Title = "поръчки";
}

<!DOCTYPE html>
<html>
<head>
    <title>поръчки</title>
    <link rel="Stylesheet" href="@Href("~/Content/Orders/OrdersStyle.css")"/>
</head>
<body>
<div>
    @foreach (var beer in Model)
    {
        var base64 = Convert.ToBase64String(beer.Photo);
        var imgSrc = $"data:image/gif;base64,{base64}";
        <div class="listProducts">
        <ul id="list">
            <li id="currentProduct">
                <img id="orderImg" class="cut-out" src="@imgSrc"/>
                <span id="orderDescription">@beer.Description</span>
                <br/>
                <span id="requiredDislikes">Нужни нехаресвания: @beer.RequiredDislikes</span>
            </li>
        </ul>
                @{ User user = System.Web.HttpContext.Current.GetOwinContext()
                                           .GetUserManager<ApplicationUserManager>()
                                           .FindById(System.Web.HttpContext.Current.User.Identity.GetUserId());
                    if (user.Dislikes >= beer.RequiredDislikes)
                    {
                        <input type="button" id="orderButton-active" value="ела и си вземи" onclick="location.href = '@Url.Action("Order", "Orders")'" />                    
                    }
                    else
                    {
                        <input type="button" id="orderButton" value="ела и си вземи" disabled/>
                    }
                }
        </div>
    }
</div>
</body>
</html>