@using System.Data.Entity
@using bYteMe.Models
@model bYteMe.Models.User

@{
    ViewBag.Title = "редактиране на биография";
}
<title>@ViewBag.Title</title>
<!DOCTYPE html>
<head>
    <title>напиши нещо за себе си</title>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="@Href("~/Content/ProfileStyle.css")" />
</head>
<body>
    @using (Html.BeginForm())
    { @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div>
            <span>@Html.LabelFor(m => m.Biography)</span>
            <span>@Html.TextBoxFor(m => m.Biography)</span>
            @Html.ValidationMessageFor(m => m.Biography)
            <span>@Html.ActionLink("промени", "Edit")</span>
        </div>
    }
</body>