@model bYteMe.Models.User

@{
    ViewBag.Title = "профил";
}

<!DOCTYPE html>
<html>
<head>
    <title>профил</title>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="@Href("~/Content/ProfileStyle.css")"/>
</head>
<body>
<div class="profile-info">
    <div class="image">
        @{
            var imgSrc = Model.ProfilePhoto != null ? $"data:image/gif;base64,{Convert.ToBase64String(Model.ProfilePhoto)}" : "../images/default-profile-picture.jpg";
            //var base64 = Convert.ToBase64String(Model.ProfilePhoto);
            //var imgSrc = $"data:image/gif;base64,{base64}";
        }

        <img id="profile-picture" class="cut-out" src="@imgSrc"/>
    </div>
    <div class="full-name">
        <span id="fullName">Име: @Model.FullName</span>
        <span id="userName">Потребителско име: @Model.UserName</span>
    </div>
    <div class="biography">
        <p id="profile-bio">Биография: <br/> @Model.Biography</p>
    </div>
    @* TODO: List posts from current user *@
    <div class="posts">
        публикации
    </div>
    <input type="button" class="gallery-button" value="галерия" onclick="location.href = '@Url.Action("Gallery", "Profile")'" />
    <p id="profile-likes">харесвания: @Model.Likes нехаресвания: @Model.Dislikes</p>
</div>
</body>
</html>