@model bYteMe.Models.User

@{
    ViewBag.Title = "профил";
}

<!DOCTYPE html>
<html>
<head>
    <title>профил</title>
</head>
<body>
    <div class="profile-info">
        @{
            if (Model.ProfilePhoto != null)
            {
                var base64 = Convert.ToBase64String(Model.ProfilePhoto);
                var imgSrc = $"data:image/gif;base64,{base64}";

                <img id="profile-picture" class="cut-out" src="@imgSrc"/>
            }
        }
       
        @* TODO: Show it like text box where current profile can edit their bio *@
        <span id="userName">@Model.FullName (@Model.UserName)</span>
        <p id="profile-bio">@Model.Biography</p>
        @* TODO: List posts from current user *@
        <p id="profile-posts">Posts of current user</p>
        <button id="profile-gallery">галерия</button>
        <p id="profile-likes">харесвания: @Model.Likes нехаресвания: @Model.Dislikes</p>
    </div>
</body>
</html>