@using bYteMe.Models
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin
@model List<bYteMe.Models.User>
@{
    ViewBag.Title = "профили";
}
<!DOCTYPE html>
<html>
<head>
    <title>профили</title>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="@Href("~/Content/Site.css")"/>
    <link rel="Stylesheet" href="@Href("~/Content/ProfilesStyle.css")"/>
</head>
<body>
@foreach (var user in Model)
{
    <div class="listProfiles">
        <ul id="list">
            <li id="currentProfile">
                    @{
                        var imgSrc = user.ProfilePhoto != null ? $"data:image/gif;base64,{Convert.ToBase64String(user.ProfilePhoto)}" : "../images/default-profile-picture.jpg";
                    }              
                <img id="profile-picture" class="cut-out" src="@imgSrc" />              
                <span id="likes">Likes: @user.Likes Dislikes: @user.Dislikes</span>      
                @{
                    User currentUser = System.Web.HttpContext.Current.GetOwinContext()
                    .GetUserManager<ApplicationUserManager>()
                    .FindById(System.Web.HttpContext.Current.User.Identity.GetUserId());

                    if (user.Id != currentUser.Id)
                    {
                        //TODO: Fix this 
                        <div>Vote: </div>
                        <input type="button" value="Go Somewhere Else" onclick=""/>
                }
                    }        
            </li>
        </ul>
    </div>
}
</body>
</html>