@using System.EnterpriseServices
@using bYteMe.Models
@model bYteMe.Post
@{
    ViewBag.Title = "нова публикация";
}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/Content/Posts/PostsFormsStyle.css">
    <link rel="stylesheet" href="/Content/Normalize.css">
</head>
<body>
    <div class="form">
        <ul class="tab-group">
            <li class="tab" onclick="location.pathname=''">@Html.ActionLink("назад", "")</li>
            <li class="tab active"><a>нова публикация</a></li>
        </ul>
        <div class="tab-content">
            @using (Html.BeginForm("Create", "Posts", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div id="create">
                    <form action="/" method="post">
                        <div class="field-wrap">
                            <label>
                                заглавие<span class="req">*</span>
                            </label>
                            @Html.TextAreaFor(m => m.Title, new { @class = "text-box", autocomplete = "off" })
                        </div>
                        <div class="field-wrap">
                            <label>
                                съдържание<span class="req">*</span>
                            </label>
                            @Html.TextBoxFor(m => m.Body, new { @class = "text-box", autocomplete = "off" })
                        </div>
                        <button class="submit-button">създай</button>
                    </form>
                </div>
            }
        </div>
    </div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="../../Scripts/loginScript.js"></script>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}